body{
	background-color: tomato;
 }
 section{
 	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
 }
 header	{
 	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

 }
img {
	border-radius: 50%;
	margin: 10px;
	height: 200px;
	width: 200px

 }
 p{
 	color:yellow;
 }
 h1{
 	color: silver;
 }
 footer{
 	display: flex;
	justify-content: center;
	align-items: center;

 }