body{
	margin: 0;
	padding: 0;

 }
  nav{
 	display: flex;
 	justify-content: center;
 	align-items: center;

 }
 ul{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: row;

 }
 li{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	margin: 20px;

 	

 }
 header{
 	position: fixed;
 	justify-content: center;
 	align-items: center;
 	background-color:silver;
 	width: 100%;
 	top: 0;
 	

 }
 .p1{
 	background-color: pink;
 }
 .p2{
 	background-color: blue;
 }
 .p3{
 	background-color:  yellow;
 }
 section{
 	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 30px;

 }
img {
	border-radius: 60%;
	margin: 50px;
	height: 200px;
	width: 200px

 }
 